.invoiceContainer {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#invoice-POS {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 700px;
  background: #FFF;
}
  
#invoice-POS::selection {
  background: #f31544;
  color: #FFF;
}


#invoice-POS::moz-selection {
  background: #f31544;
  color: #FFF;
}

#invoice-POS h1 {
  font-size: 1.5em;
  color: #222;
}

#invoice-POS h2 {
  font-size: 16px;
}

#invoice-POS h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}

#invoice-POS p {
  font-size: 12px;
  color: #666;
  line-height: 1.2em;
}
 
#invoice-POS #top, #mid,#bot{
  border-bottom: 1px solid #EEE;
}

#top {
  min-height: 100px;
}

#mid {
  min-height: 80px;
}

#bot { 
  min-height: 50px;
}

#invoice-POS #top .logo{
  height: 240px;
  width: 240px;
  background: url(https://sentidos.vercel.app/_next/image?url=%2Fimages%2Flogo.png&w=640&q=75) no-repeat;
  background-size: 240px 240px;
}

#invoice-POS .clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}

#invoice-POS .info {
  display: block;
  margin-left: 0;
}

.info-cliente {
  text-align: right;
  margin-right: 16px;
}

#invoice-POS .title {
  float: right;
}

#invoice-POS .title p {
  text-align: right;
}

#invoice-POS table {
  width: 100%;
  border-collapse: collapse;
}

#invoice-POS .tabletitle {
  font-size: 12px;
  background: #EEE;
}

#invoice-POS .service {
  border-bottom: 1px solid #EEE;
  font-size: 24px;
}

#invoice-POS .item {
  width: 24mm;
}

#invoice-POS .itemtext {
  font-size: .5em;
}

#legalcopy {
  margin-top: 5mm;
}
